@charset "utf-8";

a {
  text-decoration: none;
  color: #fff;
}

/*Вторая секция */

.s2{
  width: 100%;
  overflow: hidden;
  padding: 5vh 0;
}

.zagolovok{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.s2_content{
  width: 80%;
  overflow: hidden;
  margin: 5vh 10%;
}

.s2_content table{
  width: 100%;
}

/*.s2_content ul #_1{list-style-image: url("../img/Fast.png")}

.s2_content ul #_2{list-style-image: url("../img/Time.png")}

.s2_content ul #_3{list-style-image: url("../img/Easy.png")}

.s2_content ul #_4{list-style-image: url("../img/Money.png")}*/

.s2_content ul li{
  margin-left: 10%;
  font-weight: bold;
}

.s2 h4{font-size: 1.3em}

.s2_content p{
  margin-left: 10%;
  padding: 1vh 0;
  color: #8B9CCA;
}

.s2_content table td{
  width: 50%;
}

/* Третья секция */

.s3{
  width: 100%;
  overflow: hidden;
  padding: 30vh 0;
}

.s3_content{
  width: 80%;
  float: left;
  overflow: hidden;
  background: #2E3038;
  border-radius: 0 0 100px 0;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.s3_content_left{
  width: 50%;
  float: left;
  overflow: hidden;
}

.s3_content_left img{
  width: 50%;
  margin-left: 25%;
  margin-top: 5vh;
}

.s3_content_right{
  width: 50%;
  float: right;
  color: #fff;
}

.s3_content_right h2{
  color: #FF4A5A;
  margin: 3vh 0;
  font-size: 1.8em;
}

.s3_content_right p{
  width: 80%;
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 7vh;
}

.s3_content_right a{
  background-color: #FF4A5A;
  border-radius: 100px;
  padding: 15px;
}
