AddDefaultCharset UTF-8

AllowOverride All

Options -Indexes +FollowSymLinks -ExecCGI

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-F
RewriteRule ^.*$ /index.php [L,R=301]

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/javascript
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4.0678 no-gzip
    BrowserMatch \bMSIE gzip-only-text/html
</IfModule>