@charset "utf-8";

/*
    Устанавливаем шрифты
*/
@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto.eot");
    src: url("../fonts/Roboto.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto.woff") format("woff"),
        url("../fonts/Roboto.ttf") format("truetype"),
        url("../fonts/Roboto.svg") format("svg");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Robotolight.eot");
    src: url("../fonts/Robotolight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Robotolight.woff") format("woff"),
        url("../fonts/Robotolight.ttf") format("truetype"),
        url("../fonts/Robotolight.svg") format("svg");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Robotomedium.eot");
    src: url("../fonts/Robotomedium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Robotomedium.woff") format("woff"),
        url("../fonts/Robotomedium.ttf") format("truetype"),
        url("../fonts/Robotomedium.svg") format("svg");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Robotobold.eot");
    src: url("../fonts/Robotobold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Robotobold.woff") format("woff"),
        url("../fonts/Robotobold.ttf") format("truetype"),
        url("../fonts/Robotobold.svg") format("svg");
}

/*
    Установка дефолтных стилей
*/
* {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0;
    border: none;
}

body, html {width: 100%}

html {
    font-family: Roboto-Regular;
    font-size: 1vw;
    background-color: white;
}

h1, h2, h3, h5, h6 {font-family: Roboto-Regular}

ul, ol {list-style: none}

a {
    text-decoration: none;
    color: white;
}

small, address {
    font-style: normal;
    font-weight: normal;
}

button, textarea, input, select {
    border: none;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0;
}

fieldset {border: none}

/*

    Левая часть

*/
.wrapper {
    width: 96%;
    padding: 1% 2% 0 2%;
}

.wrapper::after {
    content: ' ';
    display: table;
    width: 100%;
}

.left-section {
    float: left;
    width: 50%;
}

.left-section::after {
    content: ' ';
    display: table;
    width: 100%;
}

.right-section {
    width: 50%;
    float: left;
}

.right-section::after {
    content: ' ';
    display: table;
    width: 100%;
}

header h1 {font-size: 2.5rem}

header {
    margin-bottom: 2.5%;
}

/*

    Вид и форма

*/
.view {
    float: left;
    width: 50%;
    overflow: hidden;
}

.view input, .view label {cursor: pointer}

.view h6 {
    font-size: 1.5rem;
    font-weight: normal;
}

.left-first-view {
    float: left;
    width: 38%;
    margin-top: 2.5%;
}

.left-first-view input, .left-second-view input {
    display: none;
}

.circle-of-first-view, .circle-of-second-view {
    border: 2px solid black;
    height: 0.7vw;
    width: 0.7vw;
    display: inline-block;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
    vertical-align: middle;
    position: relative;
}

.circle-of-first-view::after, .circle-of-second-view::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-color: transparent;
    height: 0.4vw;
    width: 0.4vw;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
}

.left-first-view input:checked + .circle-of-first-view::after,
.left-second-view input:checked + .circle-of-second-view::after {
    content: ' ';
    background-color: black;
}

.left-second-view {
    overflow: hidden;
    margin-top: 2.5%;
    width: 26.5%;
    text-align: right;
}

.shape {
    width: 50%;
    float: left;
    position: relative;
}

.shape::after {
    content: ' ';
    display: table;
    width: 100%;
}

.shape input, .shape label {cursor: pointer}

.shape h6 {
    font-size: 1.5rem;
    font-weight: normal;
}

.left-first-shape {
    float: left;
    width: 38%;
    margin-top: 2.5%;
}

.left-second-shape {
    margin-top: 2.5%;
    position: relative;
    float: left;
    width: 46.4%;
    text-align: right;
}

.left-first-shape input, .left-second-shape input {
    display: none;
}

.circle-of-first-shape, .circle-of-second-shape {
    border: 2px solid black;
    height: 0.7vw;
    width: 0.7vw;
    display: inline-block;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
    vertical-align: middle;
    position: relative;
}

.circle-of-first-shape::after, .circle-of-second-shape::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-color: transparent;
    height: 0.4vw;
    width: 0.4vw;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
}

.left-first-shape input:checked + .circle-of-first-shape::after,
.left-second-shape input:checked + .circle-of-second-shape::after {
    content: ' ';
    background-color: black;
}

.left-second-shape img {
    width: 1.1vw;
    vertical-align: middle;
    margin-left: 0.3vw;
    cursor: pointer;
}

.first-pop, .second-pop {
    position: absolute;
    font-size: 0.9rem;
    text-align: left;
    top: 120%;
    background-color: white;
    left: 0;
    padding: 3%;
    right: 0;
}

/*

     Комплектация, цвет коврика, цвет окантовки

*/
.fadap5 {
    display: none;
}

.complect {
    margin-top: 5%;
    overflow: hidden;
    width: 50%;
    float: left;
}

.complect input, .complect label {cursor: pointer}

.complect select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: 0;
    font-weight: normal;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    font-family: Roboto-Regular;
    width: 100%;
}

.complect .select {
    position: relative;
    display: inline-block;
    margin-top: 7.8%;
    width: 46%;
    cursor: pointer;
}

.complect .select::after {
    content: " ";
    pointer-events: none;
    position: absolute;
    top: 30%;
    right: 0;
    display: inline-block;
    border: 0.45vw solid transparent;
    border-top-color: black; 
}

.complect h6 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2.5%;
}

.complect ul li input {
    display: none;
}

.complect ul li label:nth-of-type(1) {
    border: 2px solid black;
    height: 0.7vw;
    width: 0.7vw;
    display: inline-block;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
    vertical-align: middle;
    position: relative;
}

.complect ul li label:nth-of-type(1)::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-color: transparent;
    height: 0.4vw;
    width: 0.4vw;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
}

.complect ul li input:checked + label::after {
    content: ' ';
    background-color: black;
}

.complect ul li:nth-child(3) {
    position: relative;
    z-index: 1;
}

.complect ul li:not(:first-child) {
    margin-top: 7.8%;
}

.complect ul li:nth-of-type(3) img {
    vertical-align: middle;
    width: 1.1vw;
    margin-left: 0.3vw;
    cursor: pointer;
}

.color {
    margin-top: 5%;
    float: left;
    width: 50%;
    clear: both;
}

.color > div > span {
    display: inline-block;
    margin-top: 3%;
}

.color > div:first-of-type {
    margin-bottom: 9%;
}

.color input, .color label {cursor: pointer}

.color h6 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 4.5%;
}

.color ul {
    width: 71%;
}

.color ul li {
    display: inline-block;
    cursor: pointer;
}

.color ul li:not(:first-of-type):not(:nth-of-type(8)) {
    margin-left: 5%;
}

.color > div:nth-of-type(2) li:last-child {
    margin-left: 0;
}

.color ul li:nth-of-type(n + 8) {margin-top: 2%}

.color li {
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
    width: 1.5vw;
    height: 1.5vw;
    position: relative;
}

.color li div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
    width: 1vw;
    height: 1vw;
    -webkit-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -ms-transform: scale(1.9);
    -o-transform: scale(1.9);
    transform: scale(1.9);
}

.color li.chernyj_kovrik div, .color li.chernaya_okantovka div  {
    border: 0.5px solid black;
}

/*

    Акссесуары

*/
.dop h6 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2%;
}

.dop ul {
    display: table;
    width: 100%;
}

.dop ul li {
    display: table-cell;
    width: 20%;
    position: relative;    
}

.dop ul li .first-line {
    position: relative;
    z-index: 1;
}

.first-line input {
    display: none;
}

.first-line label {
    border: 1px solid black;
    display: inline-block;
    width: 0.7vw;
    vertical-align: middle;
    height: 0.7vw;
    cursor: pointer;
}

.first-line label::after {
    content: ' ';
    color: black;
    display: block;
    width: 0.7vw;
    height: 0.7vw;
    line-height: 0.7vw;
    font-size: 1.3rem;
    -webkit-transform: translate(-5%, -12%);
    -moz-transform: translate(-5%, -12%);
    -ms-transform: translate(-5%, -12%);
    -o-transform: translate(-5%, -12%);
    transform: translate(-5%, -12%);
}

.first-line input:checked + label::after {
    content: '\2714';
}

.third-pop, .fourth-pop, .fifth-pop, .sixth-pop, .seventh-pop {
    position: absolute;
    font-size: 0.9vw;
    padding: 3%;
    background-color: white;
    bottom: 0;
    right: 0;
}

.dop ul li .first-line input {
    cursor: pointer;
}

.dop ul li .first-line img {
    width: 1.1vw;
    margin-left: 5%;
    vertical-align: middle;
    cursor: pointer;
}

.dop ul li > img {
    width: 70%;
    margin-top: 4%;
}

.dop ul li:nth-child(2) > img {
    margin-top: 5%;
}

.dop ul li > span {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.dop ul li:not(:last-child) > span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*

    Правая часть

*/
.right-section > * {
    margin-left: 15%;
}

.right-section > h6 {
    font-size: 1.5rem;
    font-weight: normal;
}

.right-section > img {
    height: 13vw;
    margin-top: 1%;
}

.image-area {
    position: relative;
    width: 82%;
}

.image-area img {
    width: 65%;
}

.image-area .shaper {
    position: absolute;
    top: 2%;
    left: -10%;
    width: 33%;
}

.image-area .shild {
    position: absolute;
    top: 14%;
    left: 0;
    width: 65%;
}

.image-area .alum {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
}

.image-area .plast {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
}

.image-area .resin {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
}

.image-area .bigCircle {
    position: absolute;
    top: -4%;
    left: -7%;
    width: 80%;
}

.image-area img:first-of-type {
    position: absolute;
}

.description {
    width: 60%;
    position: relative;
    margin-top: 2%;
    padding-left: 3%;
}

.last-line {
    margin-top: 2%;
    width: 100%;
}

.description p {
    line-height: 1.5;
    height: 7.5rem;
}

.description h6 {
    display: inline-block;
    font-weight: normal;
    font-size: 1.1rem;
}

.last-line span {
    font-family: Roboto-Bold;
    font-size: 2.3rem;
    width: 7.9rem;
    display: inline-block;
    margin-left: 2%;
}

.description button {
    color: white;
    font-family: Roboto-Bold;
    background-color: red;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
    font-size: 1rem;
    padding: 2.9% 6.5%;
    cursor: pointer;
    vertical-align: bottom;
    margin-left: 6%;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: black;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    border-radius: 100vw;
}

.fadap {
    display: none;
}

.fadap3 {
    display: none;
}

.fadap6 {
    display: none;
}

/*

    Адаптив

*/
@media(max-width: 834px) {
    html, body {
        overflow-x: hidden;
    }

    .wrapper {
        padding-top: 2%;
        padding-bottom: 5%;
        overflow: hidden;
    }

    header h1 {
        font-size: 3.4rem;
        font-family: Roboto-Medium;
        font-weight: normal;
    }

    .view, .shape {
        width: 100%;
        float: none;
    }

    .first-pop {
        font-size: 2.1rem;
        text-align: left;
        top: 120%;
        left: -70%;
        padding: 10%;
        right: -70%;
    }

    .second-pop {
        font-size: 2.1rem;
    }

    .view::after {
        content: ' ';
        display: table;
        width: 100%;
    }

    .view h6, .shape h6 {
        font-size: 3rem;
    }

    .view > div, .shape > div {
        font-size: 2.2rem;
    }

    .view h6, .shape h6, .view > div, .shape > div {
        display: inline-block;
        float: none;
        width: auto;
        vertical-align: bottom;
    }

    .circle-of-first-view, .circle-of-second-view {
        width: 1.9vw;
        height: 1.9vw;
    }

    .circle-of-first-view::after, .circle-of-second-view::after {
        width: 1vw;
        height: 1vw;
    }

    .left-first-view {
        margin-left: 15%;
    }

    .left-second-view {
        margin-left: 10%;
    }

    .shape {
        margin-top: 4%;
    }

    .circle-of-first-shape, .circle-of-second-shape {
        width: 1.9vw;
        height: 1.9vw;
    }

    .circle-of-first-shape::after, .circle-of-second-shape::after {
        width: 1vw;
        height: 1vw;
    }

    .left-first-shape {
        margin-left: 9%;
    }

    .left-second-shape {
        margin-left: 10%;
        z-index: 1;
    }

    .left-second-shape img {
        width: 2.9vw;
        margin-left: 0.6vw;
        vertical-align: top;
    }

    /*
    
        Цвет, комплектация
    
    */
    .complect {
        float: none;
    }

    .color {
        float: none;
        width: 100%;
        margin-top: 8%;
    }

    .color h6 {
        margin-bottom: 8%;
        word-spacing: 6rem;
    }

    .color::after {
        content: ' ';
        display: table;
        width: 100%;
    }

    .color > div {
        width: 50%;
        float: left;
    }

    .color > div:first-of-type {
        margin-bottom: 0;
        width: 50%;
    }

    .color > div:last-of-type h6, .color > div:last-of-type span {
        display: inline-block;
        margin-left: 20%;
    }

    .color > div:last-of-type ul {
        margin-left: 20%;
    }

    .color > div:first-of-type {margin: none}

    .color h6 {
        font-size: 3rem;
    }

    .color ul {
        width: 80%;
    }

    .color li {
        width: 3.5vw;
        height: 3.5vw;
    }

    .color ul li:not(:first-of-type):not(:nth-of-type(8)) {
        margin-left: 0;
    }

    .color ul li:not(:first-of-type):not(:nth-of-type(5)):not(:nth-of-type(9)):not(:nth-of-type(13)) {
        margin-left: 8%;
    }

    .color ul li:nth-of-type(n + 5) {margin-top: 5%}

    .color > div > span {
        display: inline-block;
        margin-top: 8%;
        font-size: 2.3rem;
    }

    .color li div {
        width: 2.5vw;
        height: 2.5vw;
    }

    .complect {
        margin-top: 10%;
        width: 100%;
        float: none;
        font-size: 2.2rem;
    }

    .complect ul li:not(:first-child) {
        margin-top: 10%;
    }

    .complect .select {
        margin-top: 10%;
    }

    .complect h6 {
        font-size: 2.9rem;
        font-weight: normal;
        margin-bottom: 4.5%;
    }

    .complect ul li label:nth-of-type(1) {
        width: 1.9vw;
        height: 1.9vw;
    }

    .complect ul li label:nth-of-type(1)::after {
        width: 1vw;
        height: 1vw;
    }

    .complect select {
        font-size: 2.2rem;
    }

    .complect .select::after {
        border: 0.8vw solid transparent;
        border-top-color: black; 
    }

    .complect ul li:nth-of-type(3) img {
        width: 2.9vw;
        margin-left: 0.6vw;
        vertical-align: top; 
    }

    /*
    
        Правая часть

    */
    .image-area img {
        width: 100%;
    }

    .right-section > h6 {
        display: none;
    }

    .right-section > * {
        margin-left: 5%;
    }

    .image-area {
        width: 95%;
    }

    .right-section {
        text-align: center;
    }

    /*
    
        Центр
    
    */
    .fadap1, .fadap2 {
        display: none;
    }

    .fadap, .fadap3 {
        display: block;
        margin-top: 2%;
    }

    .right-section > img {
        height: 24.7vw;
        margin-top: 77%;
        margin-left: 0;
    }

    .dop h6 {
        font-size: 2.9rem;
        margin-top: 5%;
        float: left;
        width: 100%;
        margin-bottom: 3%;
        clear: both;
    }

    .first-line label {
        width: 1.9vw;
        height: 1.9vw;
    }

    .first-line label::after {
        content: ' ';
        width: 1.9vw;
        height: 1.9vw;
        line-height: 1.9vw;
        font-size: 3.5rem;
    }

    .dop ul li .first-line img {
        width: 2.9vw;
    }

    .dop ul li > span {
        font-size: 2.2rem;
        top: 110%;
    }

    .third-pop, .fourth-pop, .fifth-pop, .sixth-pop, .seventh-pop {
        font-size: 2.1vw;
        padding: 5%;
    }

    .image-area .shaper {
        width: 50%;
    }

    .image-area .shild {
        top: 30%;
        left: 4%;
        width: 70%;
    }

    .image-area .alum {
        top: 5%;
        left: 8%;
        width: 84%;
    }

    .image-area .plast {
        top: 5%;
        left: 8%;
        width: 84%;
    }
    
    .image-area .resin {
        top: 5%;
        left: 8%;
        width: 84%;
    }

    .image-area .bigCircle {
        top: -4%;
        left: -7%;
        width: 120%;
    }

    .fadap3 {
        display: block;
        width: 100%;
        margin-top: 17%;
    }

    .description {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .description h6 {
        font-size: 2.2rem;
        vertical-align: middle;
    }

    .last-line span {
        font-size: 4rem;
        width: 16rem;
        vertical-align: middle;
    }

    .description button {
        font-size: 2.2rem;
        padding: 2.4% 6%;
        vertical-align: middle;
    }

    .fadap, .dop {
        width: 100%;
    }
}

@media(max-width: 400px) {
    .wrapper {
        padding-left: 7%;
        width: 93%;
        overflow: hidden;
    }

    .fadap4 {
        display: none;
    }

    .fadap5 {
        margin: auto;
        display: block;
        width: 80%;
        margin-top: 10%;
    }

    .left-section {
        width: 100%;
        float: none;
    }

    .left-section h1 {
        font-size: 7rem;
    }

    .view h6, .shape h6 {
        font-size: 5.5rem;
    }

    .view label:last-of-type, .shape label:last-of-type {
        font-size: 4.2rem
    }

    .circle-of-first-view, .circle-of-second-view {
        width: 3.5vw;
        height: 3.5vw;
        vertical-align: top;
    }

    .circle-of-first-view::after, .circle-of-second-view::after {
        width: 1.8vw;
        height: 1.8vw;
    }

    .circle-of-first-shape, .circle-of-second-shape {
        width: 3.5vw;
        height: 3.5vw;
        vertical-align: top;
    }

    .circle-of-first-shape::after, .circle-of-second-shape::after {
        width: 1.8vw;
        height: 1.8vw;
    }

    .left-second-shape img {
        width: 5vw;
    }

    /*
    
        Цвет, комплектация
    
    */
    .color {
        width: 100%;
    }

    .color > div {
        float: none;
        width: 90%;
    }

    .color > div:first-of-type {
        margin-bottom: 0;
        width: 90%;
    }

    .color h6 {
        margin-bottom: 5%;
        word-spacing: initial;
        font-size: 5.5rem;
    }

    .color ul {
        width: 100%;
    }

    .color > div > span {
        display: inline-block;
        margin-top: 6%;
        font-size: 4.2rem;
    }

    .color > div:last-of-type ul {
        margin-left: 0;
    }

    .color li {
        width: 7.9vw;
        height: 7.9vw;
    }

    .color li div {
        width: 5.6vw;
        height: 5.6vw;
    }

    .color > div:last-of-type h6, .color > div:last-of-type span {
        display: inline-block;
        margin-left: 0%;
    }

    .color ul li:not(:first-of-type):not(:nth-of-type(8)) {
        margin-left: 5% !important;
    }

    .color ul li:nth-of-type(8), .color ul li:first-of-type {
        margin-left: 0 !important;
    }

    .color div:nth-of-type(2) ul li:last-of-type {
        margin-left: 0 !important;
    }

    .color > div:first-of-type {
        margin-bottom: 8%;
    }

    .color ul li:nth-of-type(n - 7) {margin-top: 0}

    .color ul li:nth-of-type(n + 8) {margin-top: 6%}

    /*
    
        Комплектация
    
    */
    .complect {
        font-size: 4.2rem;
    }

    .complect h6 {
        font-size: 5.5rem;
    }

    .complect ul li label:nth-of-type(1) {
        width: 3.5vw;
        height: 3.5vw;
    }

    .complect ul li label:nth-of-type(1)::after {
        width: 1.8vw;
        height: 1.8vw;
    }

    .complect select {
        font-size: 4.2rem;
    }

    .complect .select::after {
        border: 1.6vw solid transparent;
        border-top-color: black; 
    }

    .complect ul li:nth-of-type(3) img {
        width: 5vw;
    }

    .fadap6 {
        display: block;
        width: 100%;
    }

    .right-section {
        margin: 0;
        width: 100%;
        float: none;
        text-align: center;
        float: none;
        margin-left: -4%;
    }

    .right-section > * {
        margin-left: 0;
    }

    .right-section > img {
        height: 47vw;
        margin-top: 12%;
    }

    /*
    
        Dop
    
    */
    .fadap {
        width: 100%;
    }

    .dop {
        width: 100%;
        margin-top: 6%;
    }

    .dop h6 {
        font-size: 5.5rem;
        margin-bottom: 4%;
    }

    .dop ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .dop ul li {
        width: 40%;
    }

    .dop ul li:nth-of-type(2n):not(:last-of-type) {
        margin-left: 10%;
    }

    .dop ul li:nth-of-type(n + 3) {
        margin-top: 19%;
    }

    .first-line label {
        width: 3.5vw;
        height: 3.5vw;
    }

    .first-line label::after {
        content: ' ';
        -webkit-transform: translate(-24%, -20%);
        -moz-transform: translate(-24%, -20%);
        -ms-transform: translate(-24%, -20%);
        -o-transform: translate(-24%, -20%);
        transform: translate(-24%, -20%);
}
    
    .first-line label::after {
        content: ' ';
        width: 4vw;
        height: 4vw;
        line-height: 4vw;
        font-size: 7rem;
    }

    .dop ul li .first-line img {
        width: 5vw;
        margin-left: 9%;
    }

    .dop ul li > span {
        font-size: 4.2rem;
    }

    .description h6 {
        font-size: 4.2rem;
    }

    .fadap3 {
        width: 107%;
        margin-left: -7%;
    }

    .last-line span {
        font-size: 7rem;
        width: 24rem;
    }

    .description button {
        font-size: 4.4rem;
        padding: 3% 8%;
        margin-top: 4%;
        vertical-align: middle;
    }

    .third-pop, .fourth-pop, .fifth-pop, .sixth-pop, .seventh-pop {
        font-size: 4vw;
        padding: 12%;
    }

    .first-pop, .second-pop {
        font-size: 4rem;
    }
}
