/*
    Устанавливаем стандартные настройки
*/
* {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0;
}

/*
    Устанавливаем шрифты
*/
@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto.eot");
    src: url("../fonts/Roboto.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Roboto.woff") format("woff"),
         url("../fonts/Roboto.ttf") format("truetype"),
         url("../fonts/Roboto.svg") format("svg");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Robotolight.eot");
    src: url("../fonts/Robotolight.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Robotolight.woff") format("woff"),
         url("../fonts/Robotolight.ttf") format("truetype"),
         url("../fonts/Robotolight.svg") format("svg");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Robotomedium.eot");
    src: url("../fonts/Robotomedium.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Robotomedium.woff") format("woff"),
         url("../fonts/Robotomedium.ttf") format("truetype"),
         url("../fonts/Robotomedium.svg") format("svg");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Robotobold.eot");
    src: url("../fonts/Robotobold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Robotobold.woff") format("woff"),
         url("../fonts/Robotobold.ttf") format("truetype"),
         url("../fonts/Robotobold.svg") format("svg");
}

html {
    font-family: Roboto-Regular;
    font-size: 0.9vw;
    background-color: white;
}

h1 {font-family: Roboto-Bold}

h3 {
    font-size: 1.35rem;
    font-family: Roboto-Regular;
}

ul, ol {list-style: none}

a {text-decoration: underline}

small, address {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

button, textarea, input {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0;
}

fieldset {border: none}

main {display: block}

/*
    Header
*/
body > header {
    padding: 7.8% 14%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body > header div {
    display: inline-block;
    width: 55%;
    margin-right: 16%;
    vertical-align: middle;
}

body > header div h1 {
    font-size: 3.6rem;
    font-weight: bolder;
}

body > header div span {
    font-family: Roboto-Regular;
    font-size: 2rem;
    display: inline-block;
    margin-top: 3.5%;
}

body > header img {
    width: 29%;
    vertical-align: middle;
}

/*
    Main
*/
main {padding: 19% 14%}

/*
    General styles of cards
*/
main .card {
    position: relative;
    padding: 4% 7%;
    box-shadow: 0px 7px 60px rgb(197, 197, 197);
    box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.25);
}

main > .card:not(:first-of-type) {margin-top: 45%}

main > .card *::selection {
    background-color: black;
    color: white;
}

.card nav {
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    right: 0;
}

.card nav div {
    display: inline-block;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: Roboto-Medium;
    padding: 1.2% 3%;
    -webkit-border-radius: 1.2vw 1.2vw 0 0;
    -moz-border-radius: 1.2vw 1.2vw 0 0;
    -ms-border-radius: 1.2vw 1.2vw 0 0;
    -o-border-radius: 1.2vw 1.2vw 0 0;
    border-radius: 1.2vw 1.2vw 0 0;
    cursor: pointer;
}

.card nav div:last-child {padding: 1.2% 4.5%}

.card header h2 {
    font-family: Roboto-Bold;
    font-size: 1.65rem;
}

/*
    Main
*/
.card section {
    position: relative;
    margin-top: 2%;
}

.card section::after {
    content: " ";
    width: 100%;
    display: table;
}

.card section p, .card section > ul, .card section > div:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    line-height: 1.5;
    float: left;
    font-family: Roboto-Light;
    font-size: 1.1rem;
    overflow: hidden;
}

/*
    Attributes
*/
.card section > ul {display: none}

.card section > ul ul {margin-left: 4%}

.card section > ul > li:not(:first-child) {margin-top: 4.5%}

.card section > ul ul {margin-top: 0.5%}

.card section > ul ul li:not(:first-child) {margin-top: 1%}

/*
    Price
*/
.card section > div:first-of-type {display: none}

.card section div > span {
    font-family: Roboto-Medium;
    font-size: 3.8rem;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 3.93rem;
    margin: auto 0;
}

.first section img {
    float: right;
    width: 26%;
}

.card .mobile-version {display: none}
/*
    Arrows
*/
.card section .down-arrow, .card section .up-arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2vw;
    height: 1vw;
    margin-left: 27.5%;
    cursor: pointer;
    -webkit-transform: translate(-50%, 150%);
    -moz-transform: translate(-50%, 150%);
    -ms-transform: translate(-50%, 150%);
    -o-transform: translate(-50%, 150%);
    transform: translate(-50%, 150%);
}

.card section .down-arrow::after {
    content: " ";
    display: block;
    background-color: black;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card section .up-arrow::after {
    content: " ";
    display: block;
    background-color: black;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    margin: auto 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.card section .down-arrow::before {
    content: " ";
    display: block;
    background-color: black;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    margin: auto 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.card section .up-arrow::before {
    content: " ";
    display: block;
    background-color: black;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
    Footer
*/
.card footer {margin-top: 6%}

.card footer button {
    border: 1px solid red;
    background-color: red;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    padding: 1% 5%;
    -webkit-border-radius: 10vw;
    -moz-border-radius: 10vw;
    -ms-border-radius: 10vw;
    -o-border-radius: 10vw;
    border-radius: 10vw;
    cursor: pointer;
}

.card footer button:hover {
    background-color: white;
    color: red;
}

/*
    Second card
*/
.second section p span:nth-of-type(odd) {
    display: inline-block;
    width: 100%;
    font-family: Roboto-Regular;
    font-size: 1.4rem;
}

.second section p span:nth-of-type(even) {
    display: inline-block;
    margin-top: 1%;
}

.second section img {
    float: right;
    width: 22%;
}

/*
    Third card
*/
.third section img {
    float: right;
    width: 28%;
}

/*
    Fourth card
*/
.fourth section img {
    float: right;
    width: 28%;
}

/*
    Info about delivery
*/
main .aboutUs {margin-top: 35%}

main .aboutUs *::selection {
    color: white;
    background-color: black;
}

main .aboutUs h3 {
    font-family: Roboto-Bold;
    font-size: 3.5rem;
    text-align: center
}

main .aboutUs > h3:nth-of-type(2) {
    margin-top: 30%;
}

main .aboutUs ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 1.13rem;
    margin-top: 1.2%;
    margin: 0 auto;
    width: 70%;
}

main .aboutUs ol li {
    font-family: Roboto-Light;
    line-height: 1.5;
    font-size: 1.5rem;
    margin-top: 5%;    
}

main .aboutUs ol li:first-child {margin-top: 3.2%}

main .aboutUs ol li address {
    display: inline-block;
    font-family: Roboto-Light;
    line-height: 1.5;
    font-size: 1.5rem;
}


/*
    Form
*/
main .main-form-container {
    display: table;
    width: 100%;
    margin-top: 40%;
}

main .main-form-container *::selection {
    color: white;
    background-color: black;
}

main .main-form-container div, main .main-form-container form {display: table-cell}

main .main-form-container div {
    width: 40%;
    vertical-align: middle;
    text-align: center;
    font-size: 3.5rem;
    font-family: Roboto-Medium;
}

main .main-form-container form h3 {
    font-family: Roboto-Bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3%;
}

main .main-form-container form {
    font-family: Roboto-Regular;
    font-size: 1.15rem;
}

main .main-form-container form label:nth-of-type(-n+3) {
    display: inline-block;
    width: 5.9rem;
    margin-right: 5%;
}

main .main-form-container form input:nth-of-type(-n+3) {
    font-family: Roboto-Light;
    font-size: 1rem;
    background-color: #F7F7F7;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5% 0;
}

/*
    Labels of checkboxes
*/
main .main-form-container form label:nth-of-type(n+4) {margin-left: 3%}

/*
    Question
*/
main .main-form-container form span {
    display: inline-block;
    margin-bottom: 1%;
}

/*
    Label yes
*/
main .main-form-container form label:nth-of-type(8) {
    margin: 0;
    margin-right: 0.8%;
}

/*
    Label no
*/
main .main-form-container form label:nth-of-type(9) {margin-right: 0.8%} 

main .main-form-container form input:nth-of-type(n+4), main .main-form-container form button, main .main-form-container form label {cursor: pointer}

/*
    Label of text
*/
main .main-form-container form label:last-of-type {
    vertical-align: top;
    margin: 0;
    margin-right: 3%;
}

main .main-form-container form textarea {
    vertical-align: top;
    background-color: #F7F7F7;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    resize: vertical;
    width: 50%;
    font-size: 1rem;
    font-family: Roboto-Light;
    height: 7vw;
}

main .main-form-container form button {
    color: white;
    display: block;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    font-size: 1rem;
    background-color: red;
    border: 1px solid red;
    -webkit-border-radius: 50vw;
    -moz-border-radius: 50vw;
    -ms-border-radius: 50vw;
    -o-border-radius: 50vw;
    border-radius: 50vw;
    padding: 1.5% 6%;
    margin: 0 auto;
    margin-top: 8%;
}

main .main-form-container form button:hover {
    color: red;
    background-color: white;
}

/*
    Footer
*/
body > footer {
    text-align: center;
    font-family: Roboto-Medium;
    background-color: rgb(247, 247, 247);
    padding: 3.5%;
    color: #b1b1b1;
    font-size: 1.25rem;
}

body > footer span {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 0.7%;
}

body > footer *::selection {color: #676767}

body > footer ul, body > footer ul li {display: block}

body > footer ul li:not(:first-child) {margin-top: 0.65%}

body > footer address {
    font-family: Roboto-Medium;
    font-size: 1.25rem;
    display: inline-block;
}

/*
    Form
*/
.table {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(235, 235, 235, 0.377);
}

.cell {
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

/*
    Cross
*/
.cross {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 4%;
    right: 3%;
    cursor: pointer;
}

.cross::after {
    content: " ";
    display: block;
    height: 2px;
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cross::before {
    content: " ";
    display: block;
    height: 2px;
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*
    Main
*/
.cell section {
    display: inline-block;
    width: 70%;
    background-color: white;
    overflow: hidden;
    padding: 3% 0;
    box-shadow: 0px 7px 60px rgb(197, 197, 197);
    box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.25);
}

.cell section *::selection {
    color: white;
    background-color: black;
}

.slider {
    display: block;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    -webkit-transition: transform 1s ease-in-out 0s;
    -moz-transition: transform 1s ease-in-out 0s;
    -ms-transition: transform 1s ease-in-out 0s;
    -o-transition: transform 1s ease-in-out 0s;
    transition: transform 1s ease-in-out 0s;
}

.slider > li {
    display: inline-block;
    vertical-align: top;
    width: 88%;
    white-space: initial;
    padding: 0 6%;
}

/*
    First & second
*/
.slider li[role="region"] h3, .slider li[role="status"] h3 {
    font-family: Roboto-Bold;
    font-size: 1.7rem;
}

.slider li[role="region"] ol, .slider li[role="status"] ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 1.13rem;
    margin-top: 1.2%;
}

.slider li[role="region"] ol li, .slider li[role="status"] ol li  {
    width: 55%;
    font-family: Roboto-Light;
    line-height: 1.5;
    font-size: 1.1rem;
    
}

.slider li[role="status"] ol li address {
    display: inline-block;
    font-family: Roboto-Light;
    line-height: 1.5;
    font-size: 1.1rem;
}

.slider li[role="region"] ol li:not(:first-child), .slider li[role="status"] ol li:not(:first-child) {margin-top: 1.56%}

/*
    Third
*/
.slider li[role="form"] .form-container {position: relative}

.slider li[role="form"] .form-container div {
    font-family: Roboto-Medium;
    font-size: 3.4rem;
    padding: 14% 0;
    width: 40%;
    text-align: center;
}

.slider li[role="form"] form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    width: 60%;
    overflow: auto;
    font-size: 1.05rem;
}

.slider li[role="form"] form label:nth-of-type(-n+3) {
    display: inline-block;
    width: 5.15rem;
}

.slider li[role="form"] form h3 {
    font-family: Roboto-Bold;
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 2%;
}

.slider li[role="form"] form input {
    font-family: Roboto-Light;
    font-size: 1rem;
    background-color: #F7F7F7;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider li[role="form"] form input:nth-of-type(-n+3) {
    margin-left: 5%;
    padding: 0.5% 0;
}

/*
    Labels of checkboxes
*/
.slider li[role="form"] form label:nth-of-type(n+4) {margin-left: 3%}

/*
    Question
*/
.slider li[role="form"] form span {
    display: inline-block;
    margin-bottom: 1%;
}

/*
    Label yes
*/
.slider li[role="form"] form label:nth-of-type(8) {
    margin: 0;
    margin-right: 0.8%;
}

/*
    Label no
*/
.slider li[role="form"] form label:nth-of-type(9) {margin-right: 0.8%} 

.slider li[role="form"] form input:nth-of-type(n+4), .slider li[role="form"] form button, .slider li[role="form"] form label {cursor: pointer}

/*
    Label of text
*/
.slider li[role="form"] form label:last-of-type {
    vertical-align: top;
    margin: 0;
    margin-right: 3%;
}

.slider li[role="form"] form textarea {
    vertical-align: top;
    background-color: #F7F7F7;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    resize: vertical;
    width: 50%;
    font-size: 1rem;
    font-family: Roboto-Light;
    height: 7vw;
}

.slider li[role="form"] form button {
    color: white;
    display: block;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    font-size: 0.9rem;
    background-color: red;
    border: 1px solid red;
    -webkit-border-radius: 50vw;
    -moz-border-radius: 50vw;
    -ms-border-radius: 50vw;
    -o-border-radius: 50vw;
    border-radius: 50vw;
    padding: 1.5% 6%;
    margin: 0 auto;
    margin-top: 8%;
}

.slider li[role="form"] form button:hover {
    color: red;
    background-color: white;
}

/*
    Navigation
*/
.navigation {
    width: 32%;
    margin: 0 auto;
    margin-top: 7%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

/*
    General properties arrow
*/
.navigation .arrow {
    width: 0.8vw;
    height: 1.6vw;
    position: relative;
    cursor: pointer;
}

.navigation .arrow::before {
    content: " ";
    display: block;
    height: 2px;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navigation .arrow::after {
    content: " ";
    display: block;
    height: 2px;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*
    Left arrow
*/
.navigation .left-arrow {float: left}

.navigation .left-arrow::before {transform-origin: left center}

.navigation .left-arrow::after {transform-origin: left center}

/*
    Circles
*/
.navigation input {
    display: none;
    position: absolute;
}

.navigation label {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    width: 0.7vw;
    height: 0.7vw;
    -webkit-border-radius: 20vw;
    -moz-border-radius: 20vw;
    -ms-border-radius: 20vw;
    -o-border-radius: 20vw;
    border-radius: 20vw;
    margin: 0.45vw 0;
}

.navigation label:nth-of-type(2) {margin: 0.45vw 5%}

.navigation input:checked + label {background-color: black}

/*
    Right arrow
*/
.navigation .right-arrow {float: right}

.navigation .right-arrow::before {transform-origin: right center}

.navigation .right-arrow::after {transform-origin: right center}